body{
    background-color: #f8f9fa;
margin: 0px;
}

.header{
    background-color: #74c365;
    position:fixed;
    width:100%;
    color:white;

}
.header li{
    float: right;
font-size:40px;
padding: 0px 40px 20px 0px;
height: 30px;

 color:white; 

}
li{
    list-style-type: none;
}

li a{
    text-decoration: none;
}

a:link{
    color:white;
}

a:visited{
    color:white;

}
a:hover{
    color:black;
}

.page img{
border-radius:50%;
height:300px;
weight:300px;

}
.page{
     background-color: #98FB98;
     padding-top: 100px;
    
}


.para p{
    color:#343a40;
padding: 10px 200px 200px 200px;
font-size: 20px;
background-color: #98FB98;
margin:0;
}

.para h1{
    padding-left: 200px;
    color:#343a40;
    background-color: #98FB98;
margin:0px;
}

span{
    color:green;
    font-size: 25px;
}
